.header__link {
  text-decoration: none;
  color: #000;
}
.header__avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.5);
  margin-left: 12px;
}

.header__register-btn {
  padding: 0;
  font-family: "CabinetGrostek", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.header__register-btn:first-of-type {
  /*first of type is for the same element with the same classes,firstchild is for the first element within the parent*/
  margin-right: 20px;
}

@media screen and (max-width: 679px) {
  .header {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding: 20px 16px;
    position: relative;
  }
  .header__user-container {
    position: absolute;
    top: 18px;
    right: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 10px;
  }
  .header__username-container {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .header__username-inner-container {
    display: flex;
  }

  .header__add-clothes-btn {
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 60px;
  }
  .header__username {
    padding-right: 6px;
  }
  .header__date-and-location {
    padding-top: 32px;
  }

  .header__mobile-btn-container {
    display: flex;
    flex-direction: column;
    visibility: visible;
    width: 100%;
    justify-content: space-between;
  }
  .header__mobile-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    width: 44px;
    height: 44px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    border: none;
  }

  .header__mobile-btn_hidden {
    display: none;
  }

  .header__user-container_hidden {
    display: none;
  }

  .header__btn-hr {
    border-bottom: 2px solid #000;
    border-radius: 1px;
    height: 2px;
    width: 28px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .header__popup-close {
    display: block;
    background: transparent;
    position: absolute;
    top: 11px;
    right: 11px;
    border: none;
    height: 21.42px;
    width: 21.21px;
    z-index: 4;
    background-image: url(../../assets/mobile-close-icon.svg);
  }
  .header__username-inner-container {
    padding: 0;
    margin: 0;
    width: 100px;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .header__register-btn {
    padding: 0;
    font-family: "CabinetGrostek", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    margin: 2px 0px;
  }
  .header__login-btn {
    margin-bottom: 8px;
  }
  .header__register-btn:first-of-type {
    /*first of type is for the same element with the same classes,firstchild is for the first element within the parent*/
    margin-right: 0px;
  }
}
